
.wrapper{
    background: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title{
    margin: 20px;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}
.covercontent{
    margin: 5px 20px;
    display: flex;
    justify-content:space-around;
    height: 500px;
    overflow: hidden;
}
.covertext{
    /* background: rgba(255, 127, 80, 0.363); */
    font-family: cursive;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 5px;
    width: 50%;
}
.catgroupimg img{
    width: 60%;
    height: 800px;
    object-fit: cover;
    position: relative;
    bottom: 200px;
    object-position: 45% ; 
}

.navbar {
    display: flex;
    justify-content: end;
    position: relative;
    box-sizing: border-box;
}
.signin, .cart, .chekout {
    padding: 5px 20px;
    border: solid black 2px;
    border-radius: 5px;
    margin: 25px 5px;
    transition: 0.8s;
}

.signin:hover, .cart:hover, .chekout:hover{
    color: white;
    background: rgba(0, 0, 0, 0.877);
    cursor: pointer;
}

.notification {
    position: absolute;
    bottom: 60px;
    left: 180px;
    background: rgba(0, 0, 0, 0.877);
    color: white;
    padding: 0 8px;
    border-radius: 50%;
    border:none
}