* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100%;
}


.catwrap{
  width: 300px;
  margin: 10px 15px;
  border-radius: 5px;
  background: white;
  min-height: max-content ;
  line-height: 20px;
}
.catImg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.catImg:hover{
  position: relative;
  bottom: 5px;
  scale: 1.5;
}
.catImg img{
  width: 300px;
  height: 280px;
  cursor: pointer;
  border-radius: 20px;
}
.catImg:hover{
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.308);
}

.catlist {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(auto, auto);
  	column-gap: 5px;
}

.cartButton{
	background: black;
	padding: 5px 10px;
	color: white;
	border: solid black 1px;
	border-radius: 5px;
	font-size: larger;
	font-family:cursive;
	transition: 0.5s smooth;
}
.cartButton:hover{
	cursor: pointer;
	background: rgba(0, 0, 0, 0.836);
	border: solid rgba(0, 255, 255, 0.555) 3px;
	scale: 3;	
}

.cat-name{
	margin: 10px;
	font-family: sans-serif;
	font-family: 'Montserrat', sans-serif;
}