* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--bg: #efefef;
	--cat-bg: #ffffff;
	--accent-light: #ffaa9a;
	--accent-dark: #f9765f;
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
}

.navbar {
	display: inline;
}
.catwrap{
  width: 300px;
  margin: 10px;
  border-radius: 5px;
}
.catImg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.catImg:hover{
  position: relative;
  bottom: 2px;
}
.catImg img{
  width: 250px;
  height: 250px;
  cursor: pointer;
}
.catImg:hover{
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);

}

.catlist {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(auto, auto);
  column-gap: 10px;
}

